/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 10 de mar. de 2026, 12:14:11
    Author     : Ugo Mello
*/
body{

margin:0;
font-family:Arial;
background:#0f172a;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
color:white;

}

.app{

width:360px;
background:#020617;
padding:25px;
border-radius:20px;
box-shadow:0 20px 60px rgba(0,0,0,0.8);

}

.card{

background:#1e293b;
padding:20px;
border-radius:15px;
text-align:center;

}

input{

width:100%;
padding:14px;
border-radius:10px;
border:none;
margin-top:10px;

}

button{

width:100%;
padding:14px;
margin-top:10px;
border:none;
border-radius:10px;
background:#22c55e;
color:white;
font-size:16px;
cursor:pointer;

}

.hidden{

display:none;

}

.barra{

height:12px;
background:#1e293b;
border-radius:10px;
margin-top:15px;

}

.progresso{

height:100%;
width:0%;
background:#22c55e;
border-radius:10px;
transition:1s;

}
